{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true
      }
    }
  ]
}
