body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
  a {
    font-size: small;
  }

  p {
    font-size: small;
  }
}

textarea {
  border-radius: 0.25rem;
}

input {
  font-size: medium;
  border-radius: 0.25rem;
  min-height: 1.25rem;
}

select {
  border-radius: 0.25rem;
  font-size: medium;
  width: 200px;
}

.btn-text-area {
  display: flex;
  flex-wrap: wrap;
}

.btn-text-area button {
  border-radius: 0.3rem 0 0 0.3rem;
  border: 1px solid #ccc;
  flex: 1;
}

.btn-text-area input {
  border-radius: 0 0.3rem 0.3rem 0;
  flex: 2;
  text-align: center;
  border: 1px solid #ccc;
  height: 2rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-y: hidden;
  /* padding-top: 12px; */
}

.text-area {
  width: 100%;
  min-height: 3rem;
  border: 1px solid #ccc;
  font-size: large;
  font-family: monospace;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  padding: 30px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.w-full {
  width: 100%;
}

.mt-2-5 {
  margin-top: 0.625rem;
}

.mt-0 {
  margin-top: 0;
}

.click-able {
  cursor: pointer;
}
