* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SpaceMonoRegular";
  src: url(../font/SpaceMono-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "SpaceMonoRegular";
  font-size: 0.95rem;
  font-weight: 500;
  background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
  .card {
    padding: 20px !important;
  }

  .container {
    padding: 5px !important;
  }
}

p {
  color: #252525;
  margin: 0;
  overflow-wrap: break-word;
}

a {
  color: #252525;
  margin: 0;
  text-decoration: none;
  overflow-wrap: break-word;
}

textarea {
  color: #252525;
  outline-style: dashed;
  outline-width: 1px;
  padding: 0.25rem;
  font-size: large;
  min-height: 3rem;
  width: 100%;
}

input {
  color: #252525;
  font-size: medium;
  min-height: 1.25rem;
  outline-style: dashed;
  outline-width: 1px;
  padding: 0.25rem;
  width: 100%;
  margin: 0;
}

button {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
  outline-style: dashed;
  outline-width: 1px;
  background-color: 240 5.9% 10%;
}

select {
  font-size: medium;
  width: 200px;
  outline-style: dashed;
  outline-width: 1px;
  padding: 0.25rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.card {
  outline-style: solid;
  outline-width: 1px;
  padding: 30px;
  margin-bottom: 15px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}

.pt-10 {
  padding-top: 2.5rem;
}

.w-full {
  width: 100%;
}

.mt-2-5 {
  margin-top: 0.625rem;
}

.mt-2 {
  margin-top: 0.6rem;
}

.mb-0-5 {
  margin-bottom: 0.2rem;
}

.mt-0 {
  margin-top: 0;
}

.click-able {
  cursor: pointer;
}
